body{
    font-family: sans-serif;
    background-color: #000;
    color: white;
    margin: 1rem 1.5rem;
}

header, footer{
    position: fixed;
}

.top-nav{
    display: flex;
    align-items: center;
}
.header-menu{
    position: fixed;
    right: 4%;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.vertical-line{
    border-left: 0.5px solid white;
    height: 25px;
    margin: 0 0.5rem;
}


/* call icon */
.call-icon{
    position: fixed;
    top: 80%;
    right: 5%;
    width: 3.8rem;
}

/* slider */
html{
    scroll-snap-type: y mandatory;
}
section{
    block-size: 100vh; 
    scroll-snap-align: center;
    scroll-behavior:initial;
}


section{
    display: flex;
}
section:nth-child(1){
    padding-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section:nth-child(1) h1{
    font-size: 2rem;
    margin: 0.5%;
}
section article{
    width: 45%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section article h1{
    color: grey;
    font-size: 2.6rem;
    margin: 0%;
}
section article .info{
    font-size: 1.5rem;
    font-weight: 100;
    margin: 1.3%;
}

.arrow{
    position: absolute;
    top: 90%;
    animation: bounce 2s infinite;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}




.left-nav{
    position: fixed;
    top: 22%;
    left: 0.5%;
}
.right-nav{
    position: fixed;
    top: 17%;
    right: 2%;
}
.left-nav .nav-items{
    cursor: pointer;
    font-size: 0.75rem;
    margin: 1rem;
    font-weight: 600;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    opacity: 0.8;
}
.right-nav .nav-items{
    cursor: pointer;
    font-size: 0.75rem;
    margin: 1rem;
    font-weight: 600;
    writing-mode: vertical-lr;
    opacity: 0.8;
}



/* footer */
footer{
    top: 91.5%;
    color: grey;
    display: flex;
}
.social-icons{
    display: flex;
    position: fixed;
    right: 5%;
}
.social-icons i{
    cursor: pointer;
    margin: 1rem;
}

/* color animation */
.header-menu p:nth-child(1),
.left-nav p:nth-child(1){
    color: rgba(0, 227, 255, 0.4);;
}

span{
    color: #03729b;
}


/* shimmer animation */


.mobile-menu{
    display: none;
    color: grey;
}
/* responsive */
@media screen and (max-width: 1024px) {
    .mobile-menu{
        display: block;
        margin-left: 1rem;
    }
    .menu-btn{
        border: none;
        color: grey;
        background: transparent;
    }

    .left-nav , .right-nav{
        display: none;
    }

    footer{
        display: none;
    }

    .call-icon{
        top: 85%;
        width: 3rem;
    }

    section article .info{
        font-size: 1.5rem;
    }
}



@media screen and (max-width: 700px){

    .cybertech , .write{
        width: 20%;
        margin: 1rem;
    }

    section{
        flex-direction: column-reverse;
    }
    section article{
        width: 80%;
        margin-bottom: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section article .info{
        font-size: 1rem;
    }
    section:nth-child(1) h1{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 548px){
    .cybertech , .write{
        font-size: 0.8rem;
        width: 15%;
        margin: 0%;
    }
    .cybertech{
        margin-right: 2rem;
    }
    .mobile-menu{
        width: 1rem;
        margin-right: 1rem;
    }
    section article{
        margin-bottom: 30%;
    }
    section article h1{
        font-size: 2rem;
    }
    section:nth-child(1) h1{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 434px){
    .cybertech , .write , .vertical-line{
        display: none;
    }
    .main-logo{
        background-color: black;
        z-index: 2;
    }
    section article{
        margin-bottom: 50%;
    }
    section article .info{
        font-size: 0.8rem;
    }
    section article h1{
        font-size: 1.7rem;
    }
    section:nth-child(1) h1{
        font-size: 1.1rem;
    }
}